.app__items-names{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.app__items-imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app__items-imgs img{
    width: 20%;
    height: 30%;
    margin: 0.5rem;
}