.app__navbar-main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 28, 28);
    padding: 1rem;
}

.app__navbar-main img{
    width: 70px;
    height: 30px;
    border-radius: 44%;
}

.app__navbar-links a{
    margin: 0 0.2rem;
    text-decoration: none;
    color: blanchedalmond;
}